*{
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}

body{
	background-color: black;
}

.main{
	width: 1170px;
	margin: auto;
	background-color: #f1f0ef;

}



.topHeader{
	width: 100%;
	background-color: #343130;
	display: flex;
	padding: 10px;
	justify-content: space-between;
}


.webLink{
	
	display: flex;
	gap: 10px;
}
.webLink a{
	color: white;
}

.webEmail{
	display: flex;
	gap: 10px;
	
}

.webEmail a{
	color: white;
}



.header{
	width: 100%;
	background: white;
	display: flex;
	justify-content: space-between;
}
.header nav ul{
	display: flex;
	list-style: none;
	gap: 40px;
	margin-top:120px;
	margin-right: 40px;
}
.header nav ul li a{
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}


.row3{

	margin: 15px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.row3 aside{
	width: 23%;
}

.leftMenu{
	width: 100%;
}
/* .leftMenu ul{
	
	border: 1px solid #ccc;
} */
.leftMenu ul li{
	background-color: #00a8ec;;
	margin-bottom: 5px;
	text-align: center;
	padding: 12px 0px;
}
.leftMenu ul li a{
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.leftNews{
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 20px 20px 0px 0px;
}
.leftNews h3{
	background-color: orange;
	padding: 15px 0px;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
}
.leftNews ul{
	padding: 15px;
}
.leftNews ul li{
	margin-bottom: 20px;
}
.leftNews ul li img{
	border-radius: 50%;
	margin-right: 5px;
}
.row3Right{
	width: 75%;
}

.row3Right figure img{
	width: 100%;
	display: block;
	border-bottom: 10px solid #ccc;
}
.row3Right h2{
	background-color: #edecec;
	width: 120px;
	text-align: center;
	padding: 15px 0px;
}

.courseList{
	/* border: 1px solid #ccc; */
	margin-top: 30px;
	padding: 20px;
	display: flex;
	
	flex-wrap: wrap;
}

.courseItem1{
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.courseIcon1{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	background-color: #e6611c;
}

.courseHeading1{
	color: #e6611c;
}
.courseItem2{
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.courseIcon2{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	background-color: #5e5da4;
}

.courseHeading2{
	color: #5e5da4;
}
.courseItem3{
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.courseIcon3{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	background-color: #5e5da4;
}

.courseHeading3{
	color: #5e5da4;
}
.courseItem4{
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.courseIcon4{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	background-color: #d60726;
}

.courseHeading4{
	color: #d60726;
}
.courseItem5{
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.courseIcon5{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	background-color:#7bb1e0;
}

.courseHeading5{
	color: #7bb1e0;
}
.courseItem6{
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.courseIcon6{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	background-color:#308a7c;
}

.courseHeading6{
	color: #308a7c;
}
.courseItem7{
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.courseIcon7{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	background-color:#89c222;
}

.courseHeading7{
	color: #89c222;
}
.courseItem8{
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.courseIcon8{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	background-color:#e6611c;
}

.courseHeading8{
	color: #e6611c;
}

.workSection{
	width: 100%;
	background-color: #f1f0ef;
	padding: 20px;
}
.workSection h2{
	text-align: center;
}

.workRow{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.workItem1{
	width: 23%;
	height: 250px;
	/* background: url("../images/how/HOW-WE-WORK1.png") no-repeat bottom center; */
	background-image: url("../images/how/HOW-WE-WORK1.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 1px solid red;
	/* background-color: yellow; */
} 

.workItem1Trans{
	width: 100%;
	background-color: rgba(188, 72, 109, 0.8);
	height: 100%;
	
}
.workItem1Trans h3{
	font-size: 25px;
	color: white;
	padding-top: 100px;
	text-align: center;
}


.workItem2{
	width: 23%;
	height: 250px;
	/* background: url("../images/how/HOW-WE-WORK1.png") no-repeat bottom center; */
	background-image: url("../images/how/HOW-WE-WORK2.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 1px solid red;
}

.workItem2Trans{
	width: 100%;
	background-color: rgba(233, 79, 113, 0.8);
	height: 100%;
}
.workItem2Trans h3{
	font-size: 25px;
	color: white;
	padding-top: 100px;
	text-align: center;
}

.workItem3{
	width: 23%;
	height: 250px;
	/* background: url("../images/how/HOW-WE-WORK1.png") no-repeat bottom center; */
	background-image: url("../images/how/HOW-WE-WORK3.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 1px solid red;
}

.workItem3Trans{
	width: 100%;
	background-color: rgba(237, 136, 56, 0.8);
	height: 100%;
}
.workItem3Trans h3{
	font-size: 25px;
	color: white;
	padding-top: 100px;
	text-align: center;
}
.workItem4{
	width: 23%;
	height: 250px;
	/* background: url("../images/how/HOW-WE-WORK1.png") no-repeat bottom center; */
	background-image: url("../images/how/HOW-WE-WORK4.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 1px solid red;
}

.workItem4Trans{
	width: 100%;
	background-color: rgba(244, 183, 65, 0.8);
	height: 100%;
}
.workItem4Trans h3{
	font-size: 25px;
	color: white;
	padding-top: 100px;
	text-align: center;
}

footer css
/*footer css starts here*/
/* footer css using flex */

.footer{
	width:1170px;
	height:360px;
}

.footer-top-container{
	width:1170px;
	height:295px;
	background:#343130;
	padding-top:25px;

	display:flex;
	justify-content:space-between;
}

/* Quick Links */
.quick-links-container{
	width:225px;
	padding-left:70px;
}

.quick-links-container h2{
	letter-spacing:1px;
	color:#efeceb;
	font-family:arial;
	height:40px;
}

.quick-links-container ul li{
	margin-top:20px;
	
	color:#efeceb;
	font-family:arial;
	margin-left:10px;
}

.footer ul li a{
	color:#efeceb;
	text-decoration:none;
}

.quick-links-container ul li:hover{
	transition:0.5s;
	color:#00a8ec;
}

/* Training Section */

.footer-train-container{
	width:520px;
	display:flex;
	flex-wrap:wrap;
}

.footer-train-container h2{
	width:100%;
	letter-spacing:1px;
	color:#efeceb;
	font-family:arial;
	height:40px;
}

.train-cont{
	width:50%;
}

.train-cont ul li{
	margin-top:20px;
	
	color:white;
	font-family:arial;
}

.train-cont ul li:hover{
	color:#00a8ec;
}

/* Contact Section */

.footer-contact-container{
	width:320px;
}

.footer-contact-container h2{
	letter-spacing:1px;
	color:#ffffff;
	font-family:arial;
	height:40px;
}

.footer-contact-container ul{
	margin-left:15px;
}

#cont-details li{
	list-style:none;
	letter-spacing:1px;
	color:#efeceb;
	width:220px;
	margin-top:20px;
	font-family:arial;
}

/* Social Icons */

#social-links{
	margin-top:15px;
	display:flex;
}

#social-links li{
	margin:4px;
	
}

/* Copyright */

.copy-right{
	height:35px;
	width:1170px;
	background:#302d2c;
	color:white;
	font-family:arial;
	font-size:18px;
	padding-top:5px;
	text-align:center;
}
/* Enquiry page */

.formrow
{
	margin-bottom:20px;
	width: 500px;
	margin-left: 20px;
	margin-top: 30px;
	display: flex;
	
}
.formlabel
{
	
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight: bold;
}
.inputbox
{
	width:200px;
	height:30px;
	color:#5b5b5b;
	font-weight: 16px;
	padding-left: 5px;
	font-family: verdana;

	
}
.inputform
{
	font-size:12px;
	color:#5b5b5b;
}
.textarea
{
	width:200px;
	height:100px;
	color:#5b5b5b;
	font-weight: 16px;
	padding-left: 5px;
	font-family: verdana;
	
}

.button
{
	background:#09F;
	border:none;
	color:#FFF;
	padding:10px 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	border-radius:10px;
	margin:0px auto;
	cursor:pointer;
}
.enq-height{
	height: 815px;
}
/* About page */
.page-status{
	width: 96%;
	height: 30px;
	background: white;
	
	margin-bottom: 15px;
	display:flex;
	justify-content: space-between;
}
.page-status h1{
	width: 300px;
	height: 30px;
	
	color: #343130;
	
}
.page-status h2{
	width:300px;
	height: 30px;
	color: #343130;
	
}
.page-status h2 i a{
	color: #00a8ec;
	cursor: pointer;
}
.row3Right .middle-right .page-status h2{
	background: none;
}
.about-content p{
	margin-top: 22px;
	font-size: 18px;
	word-spacing: 2px;
}
.course-content{
	padding: 10px 30px 0px 30px; 
}
/* gallery page */
.gallery-content{
    padding: 10px 30px 0px 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* evenly spaced */
}

.galleryimgdiv{
    width: 30%;              /* 3 images per row */
    margin-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}

/* Image full width */
.galleryimgdiv img{
    width: 100%;
    height: 170px;
    display: block;
}

/* Title styling */
.gallery-img-title{
    text-align: center;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    background: #343130;
    padding: 12px 0;
}
/* Contact Page */
.contact-content{
	padding: 10px 30px 0px 30px; 
    height: 750px;
	margin-bottom: 30px;
	width: 800px;
}
.contact-row{
	width: 750px;
	padding: 0px 25px 0px 25px;
	height: 250px;
	display:flex;
}
.contact-row-left{
	width: 320px;
	height: 250px;
	
	text-align: center;
	color: #343130;
}
.contact-row-left p{
	margin-top: 10px;
	font-size: 17px;
}
.contact-row-left img{
	width: 50px;
	
}
.contact-row-right{
	margin-left: 100px;
	width: 270px;
	height: 250px;
	
	text-align: center;
	color: #343130;
}
.contact-row-right p{
	margin-top: 10px;
	font-size: 17px;
	word-spacing: 5px;
}
.contact-row-right img{
	width: 70px;
	height: 85px;
	
}
.contact-map img{
	margin-top: 20px;
	width: 800px;
}
/* Course page */
.course-content{
	padding: 10px 30px 0px 30px; 
	
}
.row1{
	width: 800px;
	height: 250px;
	display:flex;
	flex-wrap:wrap;

}
/*For  PHP*/
.course-1{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:30px;
}
.course-1-icon{
	width: 210px;
	height: 140px;
	background: #e6611c; 
	padding-top: 20px;
}
.icon-1{
	width: 87px;
	height: 80px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 20px;
	padding-top: 20px;
}
.c-1{
	padding: 5px 0px 5px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color:  #e6611c;
	font-size: 22px;
	text-align: center;
	border:1px #e6611c solid;
	border-radius: 0px 0px 5px 5px;
	
}
/*For  python*/
.course-2{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:60px;
}
.course-2-icon{
	width: 210px;
	height: 140px;
	background: #7bb1e0; 
	padding-top: 20px;
}
.icon-2{
	width: 87px;
	height: 80px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 15px;
	padding-top: 20px;
}
.c-2{
	padding: 15px 0px 5px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color:  #7bb1e0;
	font-size: 22px;
	text-align: center;
	border:1px #7bb1e0 solid;
	border-radius: 0px 0px 5px 5px;
}
/*For  Advance PHP*/
.course-3{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:60px;
}
.course-3-icon{
	width: 210px;
	height: 140px;
	background: #5e5da4; 
	padding-top: 20px;
}
.icon-3{
	width: 87px;
	height: 80px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 15px;
	padding-top: 20px;
}
.c-3{
	padding: 15px 0px 5px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color:  #5e5da4;
	font-size: 22px;
	text-align: center;
	border:1px #5e5da4 solid;
	border-radius: 0px 0px 5px 5px;
}
/*for seo*/
.course-4{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:30px;
}
.course-4-icon{
	width: 210px;
	height: 140px;
	background: #308a7c;; 
	padding-top: 20px;
}
.icon-4{
	width: 87px;
	height: 90px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 20px;
	padding-top: 10px;
}
.c-4{
	padding: 5px 0px 5px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color:  #308a7c;
	font-size: 22px;
	text-align: center;
	border:1px #308a7c solid;
	border-radius: 0px 0px 5px 5px;
}
.course-5{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:60px;
}
.course-5-icon{
	width: 210px;
	height: 140px;
	background: #89c222;; 
	padding-top: 20px;
}
.icon-5{
	width: 87px;
	height: 90px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 20px;
	padding-top: 10px;
}
.c-5{
	padding: 5px 0px 5px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color:  #89c222;
	font-size: 22px;
	text-align: center;
	border:1px #89c222 solid;
	border-radius: 0px 0px 5px 5px;
}
/*graphic*/
.course-6{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:60px;
}
.course-6-icon{
	width: 210px;
	height: 140px;
	background: #d60726;; 
	padding-top: 20px;
}
.icon-6{
	width: 87px;
	height: 90px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 20px;
	padding-top: 10px;
}
.c-6{
	padding: 4px 0px 5px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color:  #d60726;
	font-size: 24px;
	text-align: center;
	border:1px #d60726 solid;
	border-radius: 0px 0px 5px 5px;
}
/*digital*/
.course-7{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:30px;
}
.course-7-icon{
	width: 210px;
	height: 140px;
	background: #5e5da4;; 
	padding-top: 20px;
}
.icon-7{
	width: 83px;
	height: 80px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 25px;
	padding-top: 20px;
}
.c-7{
	padding: 10px 0px 5px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color:  #5e5da4;
	font-size: 23px;
	text-align: center;
	border:1px #5e5da4 solid;
	border-radius: 0px 0px 5px 5px;
}
/*wordpress*/
.course-8{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:60px;
}
.course-8-icon{
	width: 210px;
	height: 140px;
	background: #e6611c;; 
	padding-top: 20px;
}
.icon-8{
	width: 87px;
	height: 85px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 12px;
	padding-top: 15px;
}
.c-8{
	padding: 13px 0px 3px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color:  #e6611c;
	font-size: 23px;
	text-align: center;
	border:1px #e6611c solid;
	border-radius: 0px 0px 5px 5px;
}
/*java*/
.course-9{
	width: 210px;
	height: 230px;
	
	border-radius: 10px;
	overflow: hidden;
	margin-left:60px;
}
.course-9-icon{
	width: 210px;
	height: 140px;
	background:darkgreen; 
	padding-top: 20px;
}
.icon-9{
	width: 87px;
	height: 90px;
	border: 10px solid white;
	border-radius: 50%; 
	margin: auto;
	padding-left: 20px;
	padding-top: 10px;
}
.c-9{
	padding: 13px 0px 3px 0px;
	background: white;
	height: 70px;
	width: 208px;
	color: darkgreen;
	font-size: 24px;
	text-align: center;
	border:1px darkgreen solid;
	border-radius: 0px 0px 5px 5px;
}